:root {
    /* Colours */
    --color-text: #fff;
    --color-text-secondary: #100E0E;

    --color-primary: #896143;
    --color-secondary: #FFE308;

    --color-work-experience: #333333;
    --color-skill-icon: #EFEBEB;

    --color-dark: #1B0222;
    --color-bg: #EFE8E1;
  
    /* Fonts */
    --font-roboto: "Roboto";
  }